<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/WalleyWorks">Walley</a> while attending theFirehoseProject.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'me.png', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Walley Yang</h2>
    <br />
    <p>
      Walley served in the Air Force for 12 years. He decided he wanted a new career and started pursuing web developing. In an earlier life, he turned wrenches and help ensured helicopters fly.
    </p>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />